body {
  background-color:#212121;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #9B5DE5 ;
  border-width: 5px;
  width: 4%;
}

h1 {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h3 {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


p, table {
  color: #FFFFFF;
}

thead {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

a {
  color:#FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #9B5DE5;
}